.imgHeader {
    background-image: url("https://images.unsplash.com/photo-1580508174046-170816f65662?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    opacity: 100%;
    background-position: center;
}

.incomeMain {
    height: 75%;
}