nav {
    background-color: $header-bg;
    display: flex;
    height: 5%;

    .incomeBtn, .costsBtn {
        flex: 1;
        background-color: $background-color;
        border-radius: 0px;
    }

    .incomeBtn:hover, .costsBtn:hover {
        background-color: rgb(0, 100, 100);
    }
}

a {
    text-decoration: none;
    color: $textColorLight;
}




