$background-color: cadetblue;
$topRoundedCorners: 20px 20px 0 0;
$bottomRoundedCorners: 0 0 20px 20px;
$allRoundCorners: 20px;
$smallRoundCorners: 10px;
$border: 1px solid salmon;
$header-bg: cornsilk;
$headerOpacity: 0.7;
$backgroundOpacity: 100%;
$textColorOne: blanchedalmond;
$textColorTwo: cadetblue;
$textColorLight: cornsilk;
$textColorHoney: honeydew;
$balanceBackground: rgba(255, 255, 255, 0.815);